.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homecontainerStyle {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  flex-direction: column;
}

.navStyle {
  color: red;
  /* min-height: 30%; */
  width: 850px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 29px;
  font-weight: bold;
  margin: 30px;

  overflow: hidden;
  white-space: nowrap;
}

.navStyle h1 {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.mainimgStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentStyle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.headerStyle{
  /* min-height: 30%; */
  width: auto;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 29px;
  font-weight: bold;
  margin: 30px;
}

.buttonsStyle {
  display: flex;
  /* height: 100%;
  width: auto; */
  height: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  max-height: 550px;
}

.nav_btn{
  width: 300px;
  height: 9%;
  /* background-color:cornflowerblue; */
  /* background-color:rgb(27, 78, 130); */
  background-color:rgb(42, 91, 131);
  border: none;
  border-radius: 7px;
  color: white;
  padding: 13px 75px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
  margin: 30px 0px 0px 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.nav_btn:hover{
  box-shadow: 0 80px 0 0 rgba(17, 0, 165, 0.25) inset, 
  0 -80px 0 0 rgba(17, 0, 165, 0.25) inset;
}

.btn {
  width: 257px;
  /* width: 100%; */
  background-color: #646964;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 25px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 6px;
  font-size: 18px;
  margin: 4px 0px;
  cursor: pointer;
}

.btn:hover{
  box-shadow: 0 80px 0 0 rgba(0,0,0,0.25) inset, 
  0 -80px 0 0 rgba(0,0,0,0.25) inset;
}

.img {
  width: auto;
  height: 550px;
}

.creator {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: flex-end;
  text-align: right;
  color: #646964;
  margin: 0px 10px;
}